
body {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 75px;
    text-align: center;
    line-height: 70px;
}

h1 strong {
    font-weight: 700;
    font-style: italic;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 10px;
}

.navigation-links {
    margin-top: 60px;
    text-align: center;
    
}

.link {
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #373737;
    font-size: 100px;
    font-weight: 100;
    line-height: 70px;
    text-transform: uppercase;
}

.top {
    transform: translateX(-50px);
    transition: all 200ms ease-in-out;
}

.top:hover {
    opacity: 0.4;
    font-style: italic;
}

.middle {
    transform: translateX(130px);
    transition: all 200ms ease-in-out;
}

.middle:hover {
    opacity: 0.4;
    font-style: italic;
}

.bottom {
    font-style: italic;
    transform: translateX(25px);
    transition: all 200ms ease-in-out;
}

.bottom:hover {
    opacity: 0.4;
    font-style: normal;
}

.social-icons {
    font-size: 30px;
    text-align: center;
    line-height: 2;
}

.social-icon a {
    text-decoration: none;
    color: #373737;
    margin: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 1;
    }
    h1 strong {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
    }
    
    .link {
        font-size: 70px;
        line-height: 0.7;
    }
    .top {
        transform: none;
    }
    .middle {
        transform: none;
    }
}