
:root {
    --about-primary-color: #0264cc;
    --about-secondary-color: #fffdf3;
    --about-accent-color: #d8156a;
    --projects-primary-color: #4a3491;
    --projects-secondary-color: #f2fdff;
    --projects-accent-color: #20b2b7;
    --contact-primary-color: #c90505;
    --contact-secondary-color: #fef9fc;
    --contact-accent-color: #fa9508;
}

body {
    max-width: 95%;;
}

a {
    text-decoration: none;
    cursor: crosshair;
    color: black;
}

h1 {
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}

h1 strong {
    font-weight: 700;
    font-style: italic;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 10px;
}

p {
    display: block;
    margin: 50px auto;
    width: 300px;
    text-align: end;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
   
}

.masked-text {
    margin: 0 auto;
    font-size: 85px;
    font-weight: 700;
    font-style: italic;
    line-height: 0.8;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1714548213572-7943d5fd3528?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    }

.about-theme-bg {
    background-color: var(--about-secondary-color);
    color: var(--about-primary-color)
}

.about-theme {
    color: var(--about-primary-color);
}

.about-me-section {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 80%;
    
}

.projects-theme {
    color: var(--projects-primary-color);
}

.projects-theme-bg {
    background-color: var(--projects-secondary-color);
}

.contact-theme-bg {
    background-color: var(--contact-secondary-color);
}

.contact-theme {
    color: var(--contact-primary-color);
}

.nav-link {
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
}

.nav-link:hover {
    opacity: 0.7;
}

.active {
    font-style: italic;
}

.contact-section {
    color: var(--contact-primary-color);
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

#email {
    display: block;
    margin: 5px auto;
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    line-height: 70px;
    text-transform: lowercase;
    cursor: crosshair;
    transition: all 150ms ease-in-out;
}

#email:hover {
    font-style: italic;
}

.selfie {
    width: 300px;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 30px;
}

p .emphasis {
    
    font-size: 15px;
    font-weight: 700;
}

.index-navigation {
    margin-top: 60px;
    text-align: center;
    
}

.link {
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #373737;
    font-size: 100px;
    font-weight: 100;
    line-height: 75px;
    text-transform: lowercase;
    cursor: crosshair;
}

.top {
    transform: translateX(-100px);
    transition: all 100ms ease-in-out;
}

.top:hover {
    
    font-style: italic;
}

.middle {
    transform: translateX(130px);
    transition: all 100ms ease-in-out;
}

.middle:hover {
    
    font-style: italic;
}

.bottom {
    font-style: italic;
    transform: translateX(12px);
    transition: all 100ms ease-in-out;
}

.bottom:hover {
    
    font-style: normal;
}

.social-icons {
    font-size: 30px;
    text-align: center;
    line-height: 2;
    transition: all 200ms ease-in-out;
}

.social-icon a {
    text-decoration: none;
    margin: 20px;
    
}

.social-icon:hover {
    opacity: 0.7;
}


@media (max-width: 576px) {
    h1 {
        font-size: 30px;
        line-height: 1;
    }
    h1 strong {
        font-size: 35px;
    }
    h2 {
        font-size: 15px;
    }
    
    .nav-link {
        font-size: 11px;
    }

    .link {
        font-size: 70px;
        line-height: 0.7;
    }
    .top {
        transform: none;
    }
    .middle {
        transform: none;
    }
    .masked-text {
        font-size: 60px;
    }
    
    .selfie {
        position: relative;
        left: 10px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    #email {
        font-size: 25px;
    }
    p {
        margin: 0 auto 20px auto;
        text-align: start;
        font-size: 12px
    }
    p .emphasis {
        font-size: 12px;
    }
}